[Desktop Entry]
Type=Application
Name=triton
Comment=Simple gtk notepad
Exec=triton %f
Icon=triton
Terminal=false
MimeType=text/plain
Categories=GTK;Utility;TextEditor;
