[Desktop Entry]
Type=Application
Name=Titan
Comment=Simple code editor
Exec=titan %f
Icon=titan
Terminal=false
MimeType=text/plain
Categories=GTK;TextEditor;Development;
