[Desktop Entry]
Type=Application
Name=Triton
Comment=Simple code editor
Exec=triton %f
Icon=triton
Terminal=false
MimeType=text/plain
Categories=GTK;TextEditor;Development;
